h1,
.h1 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
}

h2,
.h2 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 1.25rem;
}

h3,
.h3 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 400;
  font-size: rem-calc(21);
}

h4,
.h4 {
  margin: 0;
  font-family: var(--font-base);
  font-weight: 700;
  font-size: 1.125rem;
}

.text--accent {
  font-family: var(--font-accent);
  font-weight: 700;
  color: var(--color-post-date);
}

@media (min-width: 48em) {
  h1,
  .h1 {
    font-size: 2.375rem;
  }

  h2,
  .h2 {
    font-size: 1.5rem;
  }
}
