:root {
  --color-navy: #0d1e38;
  --color-navy-light: #183157;
  --color-light-blue: #2f80ed;
  --color-yellow: #ffd82f;
  --color-mid-gray: #757575;
  --color-light-gray: #dddddd;
  --color-white: #fff;

  // Globals
  --color-bg: var(--color-white);
  --color-image-fallback: var(--color-light-gray);
  --color-link-bg: var(--color-yellow);
  --color-hr: var(--color-light-gray);
  --color-table-border: var(--color-light-gray);

  // Text
  --color-body-text: var(--color-navy);
  --color-accent-text: var(--color-mid-gray);

  // Forms
  --color-input-focus: var(--color-light-blue);

  // Buttons
  --color-button-background: var(--color-navy);
  --color-button-text: var(--color-white);
  --color-button-hover-background: var(--color-navy-light);
  --color-button-hover-text: var(--color-white);

  --color-button-accent-background: var(--color-yellow);
  --color-button-accent-text: var(--color-navy);
  --color-button-accent-hover-background: var(--color-light-blue);
  --color-button-accent-hover-text: var(--color-navy);

  // Navigation
  --color-nav-link: var(--color-mid-gray);
  --color-nav-link-active: var(--color-navy);
  --color-nav-accent: var(--color-yellow);

  // Scrollbar
  --color-scrollbar-track: var(--color-light-gray);
  --color-scrollbar-thumb: var(--color-navy);

  // Post
  --color-post-border: var(--color-light-gray);
  --color-post-date: var(--color-mid-gray);
  --color-tag-background: var(--color-yellow);
  --color-social-background: var(--color-navy);
  --color-social-text: var(--color-white);

  --font-accent: "Labgrotesquemono", monospace;
  --font-base: "Open Sans", sans-serif;
}
