.author-header {
  margin-bottom: 1.5rem;
}

.author-header__image-wrapper {
  margin-bottom: 1.5rem;
}

.author-header__image {
  display: block;
  max-width: 10rem;
  margin: 0 auto;
  border-radius: 50%;
}

.author-header__title {
  display: block;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: rem-calc(2) dotted currentColor;
}

.author-header__accent {
  margin-bottom: 1em;
  font-size: 0.875rem;
}

.author-header__social {
  margin-top: 1.5rem;
}

@media (min-width: 48em) {
  .author-header {
    display: flex;
    margin-bottom: 3rem;
  }

  .author-header__image-wrapper {
    margin: 0 4rem 0 0;
  }

  .author-header__image {
    max-width: rem-calc(210);
  }
}

@media (min-width: 62em) {
  .author-header__title {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .author-header__image-wrapper {
    margin-right: 8rem;
  }

  .author-header__social {
    margin-top: 2rem;
  }
}
