.signup {
  margin-top: 2.5rem;
}

.signup__text {
  margin-bottom: 1rem;
  font-weight: 700;
}

.signup__input-group {
  display: flex;
  margin-top: 1rem;
}

.signup__input {
  min-width: 0;
  flex: 1 1 auto;
  max-width: rem-calc(400);
  background-color: var(--color-header-input-bg);
  color: var(--color-body-text);
  border: none;
  font-size: 0.875rem;

  &::placeholder {
    opacity: 0.7;
    color: var(--color-body-text);
  }

  &:focus {
    z-index: 1;
  }
}
.signup__message {
  margin-top: 0.5rem;

  &:focus {
    outline: 0.25rem solid transparent;
  }

  &[data-hidden] {
    display: none;
  }
}

@media (min-width: 48em) {
  .signup {
    margin-top: 0;
    flex: 0 1 50%;
  }
}
