.footer-signup {
  margin-top: 2.5rem;
}

.footer-signup__text {
  margin-bottom: 1rem;
  font-weight: 700;
}

.footer-signup__input-group {
  display: flex;
  margin-top: 1rem;
}

.footer-signup__input {
  min-width: 0;
  flex: 1 1 auto;
  max-width: rem-calc(400);
}

.footer-signup__message {
  margin-top: 0.5rem;

  &:focus {
    outline: 0.25rem solid transparent;
  }

  &[aria-hidden="true"] {
    display: none;
  }
}

@media (min-width: 48em) {
  .footer-signup {
    margin-top: 0;
    flex: 0 1 50%;
  }
}
