.header {
  padding: 1.25rem 0;
}

.header__main {
  padding-bottom: 1.25rem;
  border-bottom: rem-calc(2) solid var(--color-body-text);
}

.header__brand {
  display: block;
  line-height: 1.5;
  font-size: rem-calc(28);
  font-weight: 700;
  color: var(--color-body-text);
  text-decoration: none;
  text-align: center;
}

.header__signup {
  margin-top: 1.25rem;
}

@media (min-width: 48em) {
  .header__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .header__signup {
    margin-top: 0;
    margin-left: 2rem;
  }
}
