.header-signup {
  text-align: center;
}

.header-signup__form {
  position: relative;
}

.header-signup__hide {
  position: relative;
  z-index: 1;
  transition: opacity 0.3s ease;

  &[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
    // Hack: To stop fighting with autofill plugins
    z-index: -100;
  }
}

.header-signup__text {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: var(--color-accent-text);
}

.header-signup__input-group {
  display: flex;
  justify-content: center;
}

.header-signup__input {
  min-width: 0;
  flex: 1 1 rem-calc(250);
  max-width: rem-calc(250);
  background-color: var(--color-header-input-bg);
  color: var(--color-body-text);
  border: none;
  font-size: 0.875rem;

  &::placeholder {
    opacity: 0.7;
    color: var(--color-body-text);
  }

  &:focus {
    z-index: 1;
  }
}

.header-signup__message {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.875rem;
  max-width: rem-calc(300);
  text-align: center;
  transition: opacity 0.3s ease;
  z-index: 0;

  &[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none;
  }

  &:focus {
    outline: 0.25rem solid transparent;
  }
}

@media (min-width: 48em) {
  .header-signup__input {
    min-width: rem-calc(200);
  }
}
