.post__header {
  margin-bottom: 1.25rem;

  & > * + * {
    margin-top: 1.25rem;
  }
}

.post__category {
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
}

.post__description {
  color: var(--color-accent-text);
}

.post__tags-share {
  margin-top: 1.5rem;
}

.post__heading--anchor {
  position: relative;
  padding-right: 1.5rem;
}

.post__heading-anchor {
  position: absolute;
  pointer-events: none;
  right: 0;
  text-decoration: none;
  opacity: 0;
  transition: 0.3s opacity ease;

  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}

.post__social {
  margin-top: 1.5rem;
}

.post__figure {
  margin: 3rem auto;
}

.post__figcaption {
  font-size: 0.875rem;
  color: var(--color-accent-text);
}

@media (min-width: 36em) {
  .post__author-share,
  .post__tags-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post__social {
    margin-top: 0;
  }
}

@media (min-width: 40em) {
  .post__figure {
    width: rem-calc(600);
    // hack: magic number dependent on container width
    margin-left: rem-calc(-50);
  }
}

@media (min-width: 48em) {
  .post__header {
    margin-bottom: 2.5rem;
  }

  .post__content {
    font-size: 1.125rem;
  }

  .post__tags-share {
    margin-top: 2.5rem;
  }

  .post {
    pre {
      margin-left: -5rem;
      margin-right: -5rem;
      width: auto;
    }
  }
}
