.post-bio {
  margin-top: 2.5rem;
  padding-top: 1.5rem;
  border-top: rem-calc(2) dotted currentColor;
  font-size: 0.875rem;

  & > * {
    display: inline;
  }

  .post-bio__guest{
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    font-size: .9em;
  }
}
