.post__header {
  margin-bottom: 1.25rem;

  & > * + * {
    margin-top: 1.25rem;
  }
}

.post__category {
  padding: 0.5rem 0.75rem;
  margin-right: 0.5rem;
}

.post__description {
  color: var(--color-accent-text);
}

.post__tags-share {
  margin-top: 1.5rem;
}

.post__heading--anchor {
  position: relative;
  padding-right: 1.5rem;
}

.post__heading-anchor {
  position: absolute;
  pointer-events: none;
  right: 0;
  text-decoration: none;
  opacity: 0;
  transition: 0.3s opacity ease;

  &:focus {
    opacity: 1;
    pointer-events: auto;
  }
}

.post__social {
  margin-top: 1.5rem;
  min-width: 9em;
}

.post__figure {
  margin: 3rem auto;
}

.post__figcaption {
  font-size: 0.875rem;
  color: var(--color-accent-text);
}
.post ins{
  display: block;
  background: #f9f3c0;
  text-decoration: none;
  padding: 1em;
  border: 1px solid rgb(255,229,100);
  border-width: 0 0 0 5px;
  border-radius: 4px;
}
.post__note{
  margin: 1em 0;
  display: block;
  background: #f1f8ff;
  text-decoration: none;
  padding: 1em;
  border: 1px solid #0366d6;
  border-width: 0 0 0 5px;
  border-radius: 4px;
}
.post__content .footnotes-list {
  font-size: .9em;

  li{
    margin-bottom: 1.5em;
  }
}
@media (min-width: 36em) {
  .post__author-share,
  .post__tags-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post__social {
    margin-top: 0;
  }
}

@media (min-width: 40em) {
  .post__image--wide {
    position: relative;
    left: 50%;
    max-width: rem-calc(900);
    width: 95vw;
    transform: translateX(-50%);
  }
}

@media (min-width: 48em) {
  .post__header {
    margin-bottom: 2.5rem;
  }

  .post__content {
    font-size: 1.125rem;
  }

  .post__tags-share {
    margin-top: 2.5rem;
  }

  .post {
    pre {
      margin-left: -2.5rem;
      margin-right: -2.5rem;
      width: auto;
    }
  }
}
