.rte {
  --margin: 2.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1rem;
    &:not(:first-child) {
      margin-top: var(--margin);
    }
  }

  pre {
    margin: var(--margin) auto;
  }

  figure {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    margin-left: 0;
    margin-right: 0;

    img {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  table {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }

  img {
    display: block;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
  }

  figcaption {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    color: var(--color-accent-text);
  }

  @media (min-width: 62em) {
    --margin: 4rem;
  }
}
