---
layout: base
---
{% from "post-item.njk" import postItem %}
{%- block content -%}
  <div class="page">
    <div class=" container container--sm">
      <h1>{{ name }}</h1>
      <p>{{ bio | markdown | safe }}</p>
    </div>
    <div class="container container--lg">
      <ol class="post-list">
        {% set list = collections.authorCollections[name] %}
        {%- for post in list -%}
          <li class="post-list__item">
            {{ postItem(post, collections.authors) }}
          </li>
        {%- endfor -%}
      </ol>
    </div>
  </div>
{%- endblock -%}
