---
layout: base
---

{% from "post-item.njk" import postItem %}
<div class="tag-page page container container--lg">
  <h1 class="tag-page__title">{{ name }}</h1>
  <ol class="post-list">
    {% set list = collections.categoriesCollections[name] %}
    {%- for post in list -%}
      <li class="post-list__item">
        {{ postItem(post, collections.authors) }}
      </li>
    {%- endfor -%}
  </ol>
</div>
