---
layout: base
pagination:
  data: collections.categories
  size: 14
  alias: category
permalink: /categories/{{ category | slug }}/
---
{%- extends 'layouts/base.njk' -%}


{%- block content -%}
Test
{%- endblock -%}
