{%- extends 'layouts/base.njk' -%}
{%- from "social-share.njk" import socialShare -%}
{%- from "author-link.njk" import authorLink -%}
{%- from "post-author-bio.njk" import postAuthorBio -%}
{% from "post-item.njk" import postItem %}

{%- set currentUrl = config.url + page.url -%}

{%- block content -%}
  <div class="page container container--sm">
    <article class="post">
      <header class="post__header">
        <div class="post__meta">
          {%- if category -%}
            <a class="post__category tags__link tags__link--category" href="/categories/{{ category | slug }}">
              {{- category -}}
            </a>
          {%- endif -%}
          {%- if date -%}
            <time class="post__date text--accent" datetime="{{ date | htmlDate }}">{{ date | monthDayYear }}</time>
          {%- endif -%}
        </div>
        <h1 class="post__title">{{ title }}</h1>
        {%- if description -%}
          <p class="h3 post__description">{{ description }}</p>
        {%- endif -%}
        <div class="post__author-share">
          {{ authorLink(author, 'post__author') }}
          {{ socialShare(currentUrl, title, 'post__social') }}
        </div>
      </header>
      {% if featured_image != blank %}
        <figure class="post__figure">
          {% cloudinaryImage featured_image, featured_image_caption, 600, 480, "(min-width: 40em) 37.5rem, 90vw", "eager", "post__figure-image" %}
          <figcaption class="post__figcaption" aria-hidden="true">{{ featured_image_caption }}</figcaption>
        </figure>
      {% endif %}
      <div class="post__layout">
        <div class="post__content rte">
          {{ content | safe }}
        </div>
      </div>
      {{ postAuthorBio(author) }}
      <div class="post__tags-share">
        <nav class="post__tags" aria-label="Tags">
          {%- if tags.length -%}
            <ul class="tags">
            {%- for tag in tags -%}
              {%- if tag != 'featured' -%}
                <li class="tags__tag">
                  <a class="tags__link" href="/posts/tag/{{ tag | slug }}/">{{tag}}</a>
                </li>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          {%- endif -%}
        </nav>
        {{ socialShare(currentUrl, title, 'post__social') }}
      </div>
    </article>
  </div>
  <div class="page container container--lg">
    <ul class="post-list">
      {%- if related_post -%}
        {% set post = related_post.post | findBySlug %}
        <li class="post-list__item">
          {{ postItem(post, 'post-item--center', related_post.highlight) }}
        </li>
      {%- endif -%}
      {% set postsRetrieved = 0 %}
      {%- for categoryObj in collections.categoriesPaged -%}
        {% if categoryObj.category == category and postsRetrieved < 1 %}
          {% for post in categoryObj.posts %}
            {# Check that it's not the current post, the manual related post #}
            {% if page.fileSlug != post.data.page.fileSlug and related_post.post != post.data.page.fileSlug and postsRetrieved < 1 %}
              {% set latest %}Latest in {{ category }}{% endset %}
              <li class="post-list__item">
                {{ postItem(post, 'post-item--center', latest) }}
              </li>
              {% set postsRetrieved = postsRetrieved + 1 %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {%- endfor -%}
    </ul>
  </div>
{%- endblock -%}
