---
title: Staff Picks
headline:
layout: base
pagination:
  data: collections.staffPicks
  size: 5
  alias: staffPicks
---

{% from "staff-pick.njk" import 'staffPick' with context %}
<div class="staff-picks__header container container--sm">
  <h1>{{ headline }}</h1>
</div>
<ol class="staff-picks__list container container--md">
  {%- for pick in staffPicks -%}
    <li class="staff-picks__item">
      {{ staffPick(pick, true)}}
    </li>
  {%- endfor -%}
</ol>
