---
title: Staff Picks
layout: base
pagination:
  data: collections.staffPicks
  size: 5
permalink: "/staff-picks/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}/"
---
{% from "staff-pick.njk" import 'staffPick' with context %}
{% from "author-link.njk" import authorLink %}

<div class="page">
  <div class="container container--md">
    <div class="staff-picks__header">
      <h1 class="staff-picks__title">{{ headline }}</h1>
      <ul class="staff-picks__authors">
        {%- for author in collections.authorsStaff %}
          <li class="staff-picks__author">
            {{ authorLink(author.data.name) }}
          </li>
        {% endfor %}
      </ul>
    </div>
    <ol class="staff-picks__list">
      {%- for pick in pagination.items -%}
        <li class="staff-picks__item">
          {{ staffPick(pick, true)}}
        </li>
      {%- endfor -%}
    </ol>
    <nav class="pagination" aria-label="Pagination">
      {% if pagination.href.previous %}
        <a class="pagination__link" href="{{ pagination.href.previous | url }}">
          <span aria-hidden="true">&larr;</span> Previous
        </a>
      {% endif %}
      {% if pagination.href.next %}
        <a class="pagination__link pagination__link--next" href="{{ pagination.href.next | url }}">
          Next <span aria-hidden="true">&rarr;</span>
        </a>
      {% endif %}
    </nav>
  </div>
</div>
