---
layout: 'base'
---
{%- from "staff-pick.njk" import 'staffPick' with context -%}
{%- from "social-share.njk" import socialShare -%}
{%- from "pick.njk" import pickItem -%}

<div class="page container container--md">
  <div class="staff-pick">
    <div class="staff-pick__header">
      <h2 class="staff-pick__title" id="{{ title | slug }}">
        {{ title }}
      </h2>
      {{ socialShare(pickUrl, title, 'staff-pick__social') }}
    </div>
    <ul class="staff-pick__list">
      {% for item in picks %}
        {{ pickItem(item) }}
      {% endfor %}
    </ul>
  </div>
</div>
