{%- macro authorLink(authorName, className) -%}
  {% set author = authorName | slug | findBySlug %}
  {% if author %}
    <a class="author {{ className }}" href="/authors/{{ author.data.page.fileSlug }}">
      {% if author.data.image %}
        {% cloudinaryImage author.data.image, "", 80, 80, "5rem", "lazy", "author__image" %}
      {% endif %}
      <div class="author__text">
        {{ author.data.name }}
      </div>
    </a>
  {% endif %}
{%- endmacro -%}
