{% macro author(author, class) %}
  <a class="author {{ class }}" href="#">
    <img class="author__image" width="40" height="40">
    <div class="author__text">
      Tim Kadlec
    </div>
  </a>
{% endmacro %}
