{% from "author-link.njk" import authorLink %}

{%- macro featuredPost(item) -%}
  <div class="featured-post">
    {% if item.data.featured_image != blank %}
      <div class="featured-post__image-wrapper">
        {% cloudinaryImage item.data.featured_image, item.data.featured_image_caption,  495, 396, "(min-width: 62em) 30.938rem,(min-width: 36em) 45vw, 90vw", "eager", "featured-post__image" %}
      </div>
    {% endif %}
    <div class="featured-post__text-wrapper">
      <div class="featured-post__date text--accent">
        <time datetime="{{ item.data.date | htmlDate }}">{{ item.data.date | monthDayYear }}</time>
        <span>- {{ item.templateContent | readingTime }}. Read</span>
      </div>
      <h2 class="featured-post__title">
        <a href="{{ item.url }}" class="featured-post__link">{{ item.data.title }}</a>
      </h2>
      {{ authorLink(item.data.author, 'featured-post__author') }}
    </div>
  </div>
{%- endmacro -%}
