<div class="header-signup">
  <p class="header-signup__text">
    Stay up-to-date on the latest posts.
  </p>
  <form class="header-signup__form">
    <label class="screenreader" for="header-email">Email</label>
    <div class="header-signup__input-group">
      <input id="header-email" name="email" type="email" class="header-signup__input" autocomplete="email" placeholder="Email Address">
      <button class="button button--accent">Subscribe</button>
    </div>
  </form>
</div>
