<div class="header-signup">
  <p class="header-signup__text">
    {{ copy.headerSignup }}
  </p>
  <form class="header-signup__form" data-signup data-netlify="true" name="signup">
    <div class="header-signup__hide" data-form-hide>
      <label class="screenreader" for="header-email">Email</label>
      <div class="header-signup__input-group">
        <input id="header-email" name="email" type="email" class="header-signup__input" autocomplete="email" placeholder="Email Address">
        <button class="button button--accent">Subscribe</button>
      </div>
    </div>
    <p aria-live="polite" class="header-signup__message" data-signup-message data-hidden tabindex="-1" data-success="{{ copy.signupSuccess }}"></p>
  </form>
</div>
