<nav class="pagination" aria-label="Pagination">
  {% if not paged.first %}<a class="pagination__link" href="{{ pagination.href.previous | url }}">Previous</a>{% endif %}
  {% if not paged.last %}<a class="pagination__link pagination__link--next" href="{{ pagination.href.next | url }}">Next</a>{% endif %}
</nav>
