{% macro postItem(item, class) %}
  <li class="post-item {{ class }}">
    <div class="post-item__image">
      <img width="210" height="180">
    </div>
    <div class="post-item__text">
      <time class="post-item__date" datetime="{{ item.data.date | htmlDate }}">{{ item.data.date | monthYear }}</time>
      <h2 class="post-item__title">
        <a href="{{ item.url }}" class="post-item__link">{{ item.data.title }}</a>
      </h2>
      <!-- Author -->
      <ul class="post-item__tags tags tags--small">
        {% for tag in item.data.tags %}
          {% if tag != 'featured' %}
            <li class="tags__tag">
              <a href="#">
                {{ tag }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </li>
{% endmacro %}
