{%- from "pick.njk" import pickItem -%}
{%- from "social-share.njk" import socialShare -%}

{%- macro staffPick(pick, inList) -%}
  {%- set pickUrl = config.url + pick.url -%}
  <div class="staff-pick">
    <div class="staff-pick__header">
      <h2 class="staff-pick__title" id="{{ pick.data.title | slug }}">
        {%- if inList -%}
          <a class="staff-pick__link" href="{{ pick.url }}">
        {% endif %}
          {{ pick.data.title }}
        {%- if inList -%}
          </a>
        {% endif %}
      </h2>
      {{ socialShare(pickUrl, pick.data.title, 'staff-pick__social') }}
    </div>
    <ul class="staff-pick__list">
      {% for item in pick.data.picks %}
        {{ pickItem(item) }}
      {% endfor %}
    </ul>
  </div>
{%- endmacro -%}
