---
layout: base
renderData:
  title: '{{ paged.author.data.name }}'
pagination:
  data: collections.authorsPosts
  size: 1
  alias: paged
permalink: "/authors/{{ paged.author.data.name | slug }}/"
---
{# Eleventy doesn't currently support outputting blank pages if there is no data,
which is bad because it means it won't make author pages if the author hasn't published a post.
So right now we are not paging on the posts, but we are paging on the author,
to be fixed hopefully when this PR gets merged:
https://github.com/11ty/eleventy/pull/1698

pagination:
  data: collections.authorsPaged
permalink: "/authors/{{ paged.author.data.name | slug }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}" #}
{%- from "post-item.njk" import postItem  %}
{%- from "social-share.njk" import socialShare -%}

{%- set currentUrl = config.url + page.url -%}
<div class="page container container--lg">
  <div class="author-header">
    {% if paged.author.data.image %}
      <div class="author-header__image-wrapper">
        {% cloudinaryImage paged.author.data.image, "", 210,  210, "(min-width:48em) 13.125rem, 10rem", "lazy", "author-header__image" %}
      </div>
    {% endif %}
    <div class="author-header__content">
      <p class="author-header__accent text--accent">Author</p>
      <h1 class="author-header__title">{{ paged.author.data.name }}</h1>
      <div class="author-header__bio">{{ paged.author.data.bio | markdown | safe }}</div>
      {{ socialShare(currentUrl, title, 'author-header__social') }}
    </div>
  </div>
  {% if paged.posts.length > 0 %}
    <h2 class="post-list__title h1">All posts by {{ paged.author.data.name }}</h2>
    <ol class="post-list">
      {%- for post in paged.posts -%}
        <li class="post-list__item">
          {{ postItem(post) }}
        </li>
      {%- endfor -%}
    </ol>
    {# {% if (paged.first != true) or (paged.last != true) %}
      {% include "pagination.njk" %}
    {% endif %} #}
  {% endif %}
</div>
