---
layout: base
title: 'Authors'
---
<div class="page container container--lg">
  <h1 class="tag-page__title">Authors</h1>
  <ol class="author-list">
    {%- for author in collections.authors -%}
      <li class="author-list__item">
        <img src="" width="210" height="210" />
        <p class="author-list__name">{{ author.data.name }}</p>
      </li>
    {%- endfor -%}
  </ol>
</div>
