---
renderData:
  title: '{{ paged.category }}'
pagination:
  data: collections.categoriesPaged
  size: 1
  alias: paged
permalink: "/categories/{{ paged.category | slug }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}"
---
{% extends 'layouts/base.njk' %}

{%- block head -%}
<link rel="alternate" type="application/atom+xml"
  title="{{ paged.category }} - The WPT Blog"
  href="{{ config.url }}/categories/{{ paged.category | slug }}/feed.xml" />
{% endblock -%}

{%- block content -%}
{% from "featured-post.njk" import featuredPost %}
{% from "post-item.njk" import postItem %}
<div class="tag-page page container container--lg">
  <ol class="post-list">
    {%- for post in paged.posts -%}
      {% if paged.first == true and loop.index == 1 %}
        <li>
          {{ featuredPost(post) }}
        </li>
      {% else %}
        <li class="post-list__item">
          {{ postItem(post) }}
        </li>
      {% endif %}
    {%- endfor -%}
  </ol>
  {% if (paged.first != true) or (paged.last != true) %}
    {% include "pagination.njk" %}
  {% endif %}
</div>
{%- endblock -%}
