---
layout: base
pagination:
  data: collections.categoriesPaged
  size: 1
  alias: paged
permalink: "/categories/{{ paged.category | slug }}/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}"
---
{% from "post-item.njk" import postItem %}
<div class="tag-page page container container--lg">
  <h1 class="tag-page__title">{{ paged.category }}</h1>
  <ol class="post-list">
    {%- for post in paged.posts -%}
      <li class="post-list__item">
        {{ postItem(post, collections.authors) }}
      </li>
    {%- endfor -%}
  </ol>
  {% if (paged.first != true) or (paged.last != true) %}
    {% include "pagination.njk" %}
  {% endif %}
</div>
