---
layout: 'base'
title: null
head: '<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>'
footer: |
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
---
{% from "featured-post.njk" import featuredPost %}
{% from "post-item.njk" import postItem %}

<div class="page container container--lg">

  <!-- Not actual logic just for scaffolding -->
  {%- for post in collections.posts | reverse | limit(1) -%}
    {{ featuredPost(post) }}
  {%- endfor -%}
  <ol class="post-list">
    {%- for post in collections.posts -%}
      <li class="post-list__item">
        {{ postItem(post) }}
      </li>
    {%- endfor -%}
  </ol>
</div>
