---
layout: 'base'
title: null
---
{% from "featured-post.njk" import featuredPost %}
{% from "post-item.njk" import postItem %}
<div class="page container container--lg">
  <!-- Not actual logic just for scaffolding -->
  {%- for post in collections.posts | reverse | limit(1) -%}
    {{ featuredPost(post) }}
  {%- endfor -%}
  <ol class="post-list">
    {%- for post in collections.posts -%}
      <li class="post-list__item">
        {{ postItem(post) }}
      </li>
    {%- endfor -%}
  </ol>
</div>
