{% from "site-logo.njk" import siteLogo %}

<footer class="footer" id="footer">
  <div class="container container--lg">
    <div class="footer__main">
      <nav class="footer__nav" aria-label="Footer">
        <a href="/">{{ siteLogo('footer__site-logo', 'var(--color-bg)') }}</a>
        <ul class="footer__links">
          {%- for item in footerNavigation.items -%}
            <li class="footer__nav-item">
              {%- set relExternal = '' -%}
              {%- set isCurrent = '' -%}
              {%- if item.external -%}
                {% set relExternal = ' rel="external" target="_blank"' %}
              {%- endif -%}
              {%- if page.url == item.url %}
                {% set isCurrent = ' aria-current="page"' %}
              {%- endif -%}
              <a class="footer__nav-link" href="{{ item.url }}"{{ relExternal | safe }}{{ isCurrent | safe }}>
                {{ item.text }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
      <div class="signup">
        <p class="signup__text h3">
          {{ copy.footerSignup }}
        </p>
        <form class="signup__form" data-signup data-netlify="true" netlify-honeypot="footer-shameful" name="signup">
          <input type="text" name="footer-shameful" />
          <label class="screenreader" for="email">Email</label>
          <div class="signup__input-group">
            <input id="email" name="email" type="email" class="signup__input" autocomplete="email" placeholder="Email Address" required>
            <button class="button button--accent">Subscribe</button>
          </div>
          <p data-hidden class="signup__message" data-signup-message tabindex="-1" data-success="{{ copy.signupSuccess }}"></p>
        </form>
      </div>
    </div>
    <div class="footer__aside">
      <p class="footer__copyright">
        © {% copyrightYear %} Catchpoint Systems. All rights reserved.
      </p>
      <ul class="footer-social">
        <li class="footer_social"><span>Find us on: </span>
            <a href="https://github.com/WPO-Foundation/webpagetest/"><img src="/images/github.svg" alt="Github"></a>
            <a href="https://twitter.com/RealWebPageTest"><img src="/images/twitter.svg" alt="Twitter"></a>
            <a href="https://www.youtube.com/channel/UC5CqJ9V7cQddZDf1DKXcy7Q"><img src="/images/youtube.svg" alt="Youtube"></a>
            <a href="https://www.linkedin.com/company/webpagetest/"><img src="/images/linkedin.svg" alt="LinkedIn"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
